In [8]:
from datasets import load_dataset
import pandas as pd

# Creating new datasets

The goal of this notebook is to make a single unified dataset out of the following larger datasets: MMLU, TruthfulQA, HellaSwag. The final CSV should have the following columns: Type, Question, Options, Answer. Question refers to the actual prompt. Type refers to the category of question (math, history, law, fact, hellaswag). Options will be the multiple choice options. Answer will be the correct answer, in 1/2/3/4 format.

In [30]:
df_final = pd.DataFrame({})

## 1. MMLU

In [31]:
data_clinical = load_dataset("cais/mmlu", "clinical_knowledge")['test'].to_pandas()
data_law = load_dataset("cais/mmlu", "international_law")['test'].to_pandas()
data_cs = load_dataset("cais/mmlu", "college_computer_science")['test'].to_pandas()

In [32]:
data_clinical.head(3)

,question,subject,choices,answer
0,What size of cannula would you use in a patien...,clinical_knowledge,"[18 gauge., 20 gauge., 22 gauge., 24 gauge.]",0
1,The key attribute in successful marathon runni...,clinical_knowledge,"[strength., power., stride length., stamina.]",3
2,Which of the following is the commonest cause ...,clinical_knowledge,"[Alzheimer's disease., Cerebrovascular (stroke...",0

In [33]:
# add each of the dataframes to the final dataframe
df_final = pd.concat([df_final, data_clinical, data_law, data_cs])

# rename the answer column to answer
df_final = df_final.rename(columns={'question': 'Question', 'subject': 'Type', 'choices': 'Options', 'answer': 'Answer'})

# 2. TruthfulQA

In [34]:
data_truth = load_dataset("EleutherAI/truthful_qa_mc")['validation'].to_pandas()

In [35]:
data_truth = data_truth.rename(columns={'question': 'Question', 'choices': 'Options', 'label': 'Answer'}, inplace=False)
data_truth['Type'] = 'TruthfulQA'

df_final = pd.concat([df_final, data_truth])

## 3. HellaSwag

In [49]:
data_hs = load_dataset("Rowan/hellaswag", split="train").to_pandas()

In [ ]:
for c in data_hs.columns:
    print(c)
    print(data_hs[c].value_counts())
    print("\n")

In [46]:
data_hs.label.value_counts()

label
    10003
Name: count, dtype: int64